<div class="signup-form">
  <form action="/auth/signup" method="post">
    <h1>Personal Details</h1>
    <div class="label-input-combo">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
    </div>
    <div class="label-input-combo">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName">
    </div>
    <div class="label-input-combo">
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email">
    </div>
    <div class="label-input-combo">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div class="label-input-combo">
      <label for="verify">Verify Password</label>
      <input type="password" name="verify" id="verify">
      {{#if errorMessage}}
          <h5 style="color: red; font-size: 1em; margin: 0.5em">{{errorMessage}}</h5>
      {{/if}}
    </div>  
    <button type="submit">Create Account</button>
  </form>
</div>
