<h1>Profile Page</h1>

<a href="/auth/logout">Logout</a>
<a href="/users/edit"><button>Edit</button></a>     {{!-- Ruta para el edit  --}}
<a href="/subscription/preferences">Preferences</a>     {{!-- Ruta para el preferecias No se sia se necesario? --}}
 