<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Name Goes Here</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div>   
        <h1>Maison Valentine</h1>
        <a href="/subscription/available">Become a Member</a>
        <a href="#">Search</a>
        <a href="/users/profile">Profile</a>
        <a href="#">Cart</a>
        <nav>
            <a href="/">HOME</a>
            <a href="#">ORDER ONLINE</a>
            <a href="#">ABOUT</a>
            <a href="#">CONTACT</a>
        </nav>
    </div>
    {{{body}}}
</body>
</html>