<div class="background-dessert">
<h1>Preferences</h1>

<p> These questions are important for your unique Ai Generated NFT.</p>

<form action="Falta la ruta " method="post">
    <label for="dessert-style">Which dessert style appeals to you most?</label>
    <select name="dessert-style" id="dessert-style">
        <option value="" disabled selected>Select Answer</option>
        <option value="creamy">Creamy and Indulgent</option>
        <option value="balanced">Balanced Flavors and Textures</option>
        <option value="fresh">Fresh and Fruity</option>
    </select>

    <label for="dessert-beverage">What's your favorite dessert and beverage pairing?</label>
    <select name="dessert-beverage" id="dessert-beverage">
        <option value="" disabled selected>Select Answer</option>
        <option value="coffee">Coffee and cake</option>
        <option value="wine">Wine and chocolate</option>
        <option value="tea">Tea and pastries</option>
    </select>

    <label for="seasonal">What's your favorite seasonal dessert?</label>
    <select name="seasonal" id="seasonal">
        <option value="" disabled selected>Select Answer</option>
        <option value="fall">Pumpkin spice treats (Fall)</option>
        <option value="winter">Peppermint delights (Winter)</option>
        <option value="summer">Berry-infused desserts (Summer)</option>
    </select>
    <br><br>
    <input type="submit" value="Continue" class="continue-buttom">
</form>
</div>