<div class="cancel-sub">
<h1>Cancel Subcriptions </h1>

<p>We're sorry to see you go but appreciate the time you've been part of the Maison Valentine dessert community.
    Your current subscription will remain active until the end of the billing cycle, and you'll continue to enjoy all
    the benefits until then.</p>


<button id="cancelSubscriptionBtn">Cancel Subscription</button>
  <button id="keepSubscriptionBtn">Keep Subscription</button>

  <div id="overlay" class="hidden">
    <div id="popup" class="popup">
      <p>Do you really want to cancel the subscription?</p>
      <button id="yesBtn">Yes</button>
      <button id="noBtn">No</button>
    </div>
  </div>

</div>

{{!-- Lo cheque a ver si esta bien. 
 --}}